body {
    text-align: center;
    background-image: url("checkerboard.avif");
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(26, 192, 26);
    border: 100px;
    border-color: white;
}
th {
  background-color: white;
  border:5px solid white;
  padding: 8px;
  text-align: left;
}
table {
    width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}