body {
    text-align: center;
    background-image: url("checkerboard.avif");
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 186, 20);
    border-color: white;
}
td {
  background-color: rgb(255, 255, 154);
  border:5px solid white;
  padding: 8px;
  text-align: right;
}
th,td {
  border: 20px;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,ol{
  font-size: 21px;
  list-style-position: inside;
  text-align: left;
  padding-left: 400px;
 
}
.parts {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px
}
li {
  margin-bottom: 10px;
  color: rgb(40, 40, 28)
}
.h1banner {
  background-color:rgb(255, 255, 154) ;
}
.magnus {
  width: 200px;
}

.bio{
  color: rgb(40,40,28);
  text-align: left;
  padding-left: 200px;
  font-size: 20px;
  padding-right: 200px;
}

.pieces{
  width:300px;
}

div {
  text-align: center;
  color: black;
  font-size: 18.5px;
  background-color: rgb(255, 255, 154);
}

img {
  border: 5px groove rgb(32, 155, 23)
}

.tableshadow {
  box-shadow: 5px 10px 5px rgb(0, 0, 0);
}

.piec{
  width:200px;
}